
*{
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0; 
}

.header{
  padding: 8px;
  border-bottom: 2px solid #7d97ad;
}

.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.udacity-logo{
  width: 80px;
  height: 80px;
  background: #555;
  float: left;
}

.title-header{
  width: 50%;
  text-align: right;
  float: right;
  margin-bottom: 0;    
  padding: 0;
}

.subtitle{
  width: 50%;
  text-align: right;
  float: right;
  clear: right;
  margin-top: 0;
}

.front-img{
  float: left;
  background: #555;
  text-align: center;
  padding: 20px;
  margin: 10px;
  width: 30%;
  height: 30%;
}

.front-tecnologies{
  width: 100%;
  height: 100%;  
}

.desc-front{
  float: right;
  background: #555;
  text-align: justify;
  text-indent: 2em;  
}

h1{
  color: #2d3c49;
}

h2{
  color: #2d3c49;
}
p1{
  color: blue;
  background-color: #7d97ad;
}