
*{
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.header{
  padding: 8px;
  border-bottom: 2px solid #7d97ad;
}

.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.title-header{
  width: 50%;
  text-align: right;
  float: right;
  margin-bottom: 0;    
  padding: 0;
}

.subtitle{
  width: 50%;
  text-align: right;
  float: right;
  clear: both;
  margin-top: 0;
}

.udacity-logo{
  height: 80px;
  width: 80px; 
  float: left;
}

.layout_img{
  margin-top: 10px;
}

.front-concept{
  width: 120px; 
  height: 150px
}

h1{
  color: #2d3c49;
}

h2{
  color: #2d3c49;
}
p1{
  color: blue;
  background-color: #7d97ad;
}