* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  color: #2d3c49;
}

img, 
embed, 
object, 
video {
  max-width: 100%;  
}

h3, 
a, 
p {
  font-size: 0.8rem;
}

header {
  padding: 8px;
  display: flex;
  border-bottom: 2px solid #7d97ad;
}

.udacity-logo {
  width: 80px;
  height: 80px;
}

.header-inner {
  width: 100%;
  text-align: right;
  text-transform: uppercase;  
}
.header-inner h2 {
  padding-top: 4px;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

main p {
  margin: 10px;
  text-indent: 2em;
}

.front-img {
  text-align: center;
  width: 100%;
}

.front-tecnologies {
  width: 100%;
}

.projects {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.projects h2 {
  margin-bottom: 20px;
  text-align: left;
}

.projects h3 {
  text-transform: uppercase;
}

.projects a {
  text-decoration: none;
}

.proj1 {
  width: 33.33%;
}

.portfolio-1 {
  width: 50%;
}

.proj2 {
  width: 33.33%;
}

.portfolio-2 {
  width: 50%;
}

.proj3 {
  width: 33.33%;
}

.portfolio-3 {
  width: 50%;
}

.foot-markup {
  background: #02b3e4;
  color: #f2fffc;
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}